/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
  }

#output {
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding: 10px;
}

#output .item {
  background-color: rgba(148, 179, 250, 0.445);
  padding: 5px;
  border-color:rgb(0, 0, 98);
  border-radius: 2px;
}

.fbText {
  color: blue;
  font-weight: bold;
}