/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
  }

.output {
  font-family: monospace;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-family: monospace;
  font-size: 0.8em;
}
#make-convo {
  color: blue;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  border-color: blue;
  border-width: 5px;
  border-style: dotted;
}