/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px red;
    background-color: #ffffff3f;
    border-style: dotted;
    color: blue
  }
  #content {
   background-color: #ffffff3f;
   border: 2px red;
   border-style: dotted;
   color: blue;
  }
  h1, h2 {
    color:red;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
  }
  img {
   max-height: 500px;
  }
  p {
    font-family: monospace;
    text-align: left;
    text-indent: 20px;
  }
  body {
background-color: azure; 
 }

